# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  setup:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: setup ruby
        run: |
          sudo apt-get -yqq install ruby-full build-essential zlib1g-dev
          sudo gem install jekyll bundler
          bundle
          JEKYLL_ENV=production jekyll b -q

      - name: Use Node.js 10.x
        uses: actions/setup-node@v1
        with:
          node-version: 10.x
      - name: run Lighthouse CI
        run: |
          npm install -g @lhci/cli@0.6.x
          lhci autorun

      - uses: actions/upload-artifact@v2
        with:
          name: site-items
          path: _site/

  deploy:
    needs: setup
    runs-on: self-hosted
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: site-items
          path: /var/www/kn0rki.de/html/